@import 'tailwindcss';

:root {
   --my-primary-color: #ffc436;
   --my-secondary-color: #000957;
   --my-text-primary-color: #414141;
   --my-text-secondary-color: #bdbdbd;
}


/* reset css */
a {
   text-decoration: none;
   color: inherit;
}
ul {
   list-style: none;
}
button {
   cursor: pointer;
   appearance: none;
}
img {
   display: block;
   max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}
