@import 'tailwindcss';

.custome-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7;
}

.custome-scrollbar::-webkit-scrollbar {
  width: 8px;
  appearance: none;
}
.custome-scrollbar::-webkit-scrollbar-track {
  background: #edf2f7;
  appearance: none;
}
.custome-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
  border: 2px solid #edf2f7;
}
