@import 'tailwindcss';

:root {
   --my-primary-color: #ffc436;
   --my-secondary-color: #000957;
   --my-text-primary-color: #414141;
   --my-text-secondary-color: #bdbdbd;
}

.custome-scrollbar {
   scrollbar-width: thin;
   scrollbar-color: #a0aec0 #edf2f7;
}

.custome-scrollbar::-webkit-scrollbar {
   width: 8px;
   appearance: none;
}
.custome-scrollbar::-webkit-scrollbar-track {
   background: #edf2f7;
   appearance: none;
}
.custome-scrollbar::-webkit-scrollbar-thumb {
   background-color: #a0aec0;
   border-radius: 4px;
   border: 2px solid #edf2f7;
}

/* reset css */
a {
   text-decoration: none;
   color: inherit;
}
ul {
   list-style: none;
}
button {
   cursor: pointer;
   appearance: none;
}
img {
   display: block;
   max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}
