@reference 'tailwindcss';

.p-select:not(.p-disabled).p-focus,
.p-inputtext:enabled:focus {
   @apply border-gray-800!;
}

.custom-scrollbar {
   scrollbar-width: thin;
   scrollbar-color: #a0aec0 #edf2f7;
}

.custom-scrollbar::-webkit-scrollbar {
   width: 8px;
   appearance: none;
}
.custom-scrollbar::-webkit-scrollbar-track {
   background: #edf2f7;
   appearance: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
   background-color: #a0aec0;
   border-radius: 4px;
   border: 2px solid #edf2f7;
}
